body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #063858;
}

.navbar-light .navbar-nav .nav-link {
  color: #063858;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #063858 !important;
}

.navbar-brand img {
  max-height: 40px;
}

.btn-login {
  background-color: #063858;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #14496B;
  color: #ffffff;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

header {
  padding: 180px 0px 165px;
  margin-top: -70px;
  background-image: url(/frontend/images/banner.jpg);
  background-size: cover;
}

header h1,
header p {
  color: #fff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: #FF7E00;
  color: #fff;
}

header .btn-get-started:hover {
  background-color: #F28B27;
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 32px;
  margin-bottom: 0px;
}

.section-stats p {
  font-size: 20px;
  font-weight: 300;
}

.section-popular {
  min-height: 540px;
  background-color: #06283D;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #fff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ddd;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #FF7E00;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #F28B27;
  color: #fff;
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
}

.section-networks h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-networks p {
  font-size: 18px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F7F9FF));
  background-image: linear-gradient(#fff 0%, #F7F9FF 100%);
  padding-top: 100px;
  min-height: 506px;
  margin-bottom: 50px;
}

.section-testimonial-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content h3 {
  font-size: 22px;
}

.section-testimonial-content .testimonial {
  font-weight: 300;
  font-size: 26px;
  color: #6e6e6e;
  min-height: 160px;
}

.section-testimonial-content .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimonial-content hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: #FF7E00;
  color: #fff;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #F28B27;
  color: #fff;
}

.section-testimonial-content .btn-need-help {
  background-color: #F2F2F2;
  color: #707070;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #F28B27;
  color: #fff;
}

.section-footer h5 {
  color: #063858;
  font-weight: bold;
}

.section-footer a {
  color: #063858;
  text-decoration: none;
}

.section-details-header {
  min-height: 310px;
  background-color: #E4E6EB;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #063858;
}

.section-details-content .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .gj-datepicker .input-group-append .btn {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 10px;
}

.section-details-content .btn-add-now {
  background-color: #063858;
  color: #fff;
}

.section-details-content .btn-add-now:hover {
  background-color: #14496B;
}

.section-details-content h3 {
  font-weight: 600;
  font-size: 14px;
  color: #063858;
}

.section-details-content .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content h1 {
  font-size: 26px;
}

.section-details-content h2 {
  font-weight: 600;
  font-size: 20px;
}

.section-details-content p {
  font-size: 18px;
  color: #B1B1B1;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .trip-information th {
  font-weight: 300;
  font-size: 18px;
  color: #063858;
}

.section-details-content .trip-information td {
  font-weight: 300;
  font-size: 18px;
  color: #B1B1B1;
}

.section-details-content .trip-information .text-blue {
  font-weight: bold;
  color: #063858;
}

.section-details-content .trip-information .text-orange {
  font-weight: bold;
  color: #F28B27;
}

.section-details-content .payment-instruction {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .bank .bank-item h3 {
  font-size: 18px;
  color: #063858;
  margin-bottom: 0;
}

.section-details-content .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .bank .bank-item .description {
  margin-bottom: 8px;
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #063858;
}

.section-details-content .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #063858;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
}

.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-thumbs {
  margin-left: -5px;
}

.section-details-content .gallery .xactive {
  border: 4px solid #1ABC9B;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #FF7E00;
  color: #fff;
  border-radius: 0;
}

.section-details-content .btn-join-now:hover {
  background-color: #FF9F41;
  color: #fff;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #063858;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #063858;
  color: #fff;
}

.section-success .btn-home-page:hover {
  background-color: #14496B;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */